body{
 background: rgb(31,218,255);
background: linear-gradient(90deg, rgba(31,218,255,1) 0%, rgba(193,157,208,1) 35%, rgba(96,150,191,1) 81%, rgba(226,226,226,1) 100%); 
}
.internal
{
    background-color: beige;
    color:black;
    border: 4px solid black;
    width:500px;
    top:300px;
    transform :translate(2000px,-600px);
    height: 460px;
    padding: 20px;
}
.button1 {
    background-color: rgb(142, 133, 143);
    color: rgb(240, 234, 234);
    border: 2px solid #000000;
  }

  .button1:hover {
    background-color: #0f130f;
    color: white;
  }
